<div class="navbar-container">
  <button 
    type="button" 
    id="navbar-toggle" 
    aria-controls="navbar-menu"
    aria-expanded="false">
    <span id="menu-text">Menu</span>
    <!-- <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span> -->
  </button>
  <nav id="navbar-menu" aria-labelledby="">
    <ul class="navbar-links">
      <li><a href="{{ "/series/the-original/" | relative_url }}" 
     {% if page.url == "/series/the-original/" | relative_url %} aria-current="page" {% endif %}>
        The Original</a></li>
      <li><a href="{{ "/series/soundbites/" | relative_url }}" 
        {% if page.url == "/series/soundbites/" | relative_url %} aria-current="page" {% endif %}>Soundbites</a></li>
      <li><a href="{{ "/series/100-things/" | relative_url }}" 
        {% if page.url == "/series/100-things/" | relative_url %} aria-current="page" {% endif %}>100 Things</a></li>
      <li><a href="{{ "/guests/" | relative_url }}" 
        {% if page.url == "/guests/" | relative_url %} aria-current="page" {% endif %}>Guests</a></li>
        
        <li><a href="{{ "/about/" | relative_url }}" 
          {% if page.url == "/about/" | relative_url %} aria-current="page" {% endif %}>About</a></li>
      <li><a href="https://nicolas-steenhout.com">Nic Steenhout</a></li>
    </ul>
  </nav>
</div>